
name: Infra build

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run online script
        run: echo "hello world!"
      - name: run multiline script
        run: echo "welcome to githubactions"
      - name: run multiline script
        run: |
          echo "I am learning github actions"
          echo "building the new azure infrastructure"
